@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans text-text bg-bg;
    scroll-behavior: smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-primary;
  }
}

.prose img {
  @apply rounded-xl shadow-md;
}