@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans text-text bg-bg;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-primary;
  }
}

.prose img {
  @apply rounded-xl shadow-md;
}



@layer components {

  /* 讓所有 Markdown 裡的引用區塊 (>) 自動變成精美提示框 */
  .prose blockquote {
    @apply relative bg-surface p-6 rounded-r-xl border-l-4 border-accent not-italic shadow-sm my-8;
    quotes: none;
    /* 移除預設引號 */
  }



  /* 調整引用文字樣式 */
  .prose blockquote p {
    @apply text-text/80 font-medium leading-relaxed m-0;
  }

  /* 讓 Markdown 裡的圖片自動變漂亮 */
  .prose img {
    @apply rounded-xl shadow-md mx-auto;
  }
}